<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eims.shundian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">

        <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".LauchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ScrollingActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysVisible" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabHomeActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabViewPagerActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        /**************************多功能二维码集成*********************************************/
        <activity
            android:name=".common.zxing.UriActivity"
            android:label="uri" />
        <activity
            android:name=".common.zxing.AddressBookActivity"
            android:label="addressBook" />
        <activity
            android:name=".common.zxing.TextActivity"
            android:label="text" />
        <activity
            android:name=".common.zxing.picture.PickPictureTotalActivity"
            android:label="选择相册" />
        <activity
            android:name=".common.zxing.picture.PickPictureActivity"
            android:label="照片" />
        <activity
            android:name=".common.zxing.DeCodeActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".common.zxing.BarcodeActivity"
            android:label="barcode" />
        <activity android:name=".common.zxing.ScannerActivity">
            <intent-filter>
                <action android:name="com.mylhyl.zxing.scanner.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CityLocationActivity" />
        <activity android:name=".ui.activity.ProductListActivity"></activity>
    </application>

</manifest>